<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1>List of Cars</h1>
<table>
    <thead>
    <tr>
        <th>brand</th>
        <th>model</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
    </tr>
    </tbody>
</table>
<a href="/cars">http://localhost:8080/cars</a>
<br>
<a href="/cars?count=1">http://localhost:8080/cars?count=1</a>
<br>
<a href="/cars?count=3">http://localhost:8080/cars?count=3</a>
<br>
<a href="/cars?count=5">http://localhost:8080/cars?count=5</a>
<br>
</body>
</html>